<br>
<div class="well well-lg">
<label class="control-label col-sm-2">Name:</label>{{input class="w3-input w3-animate-input" value=name}}<br>
<button class="btn btn-primary btn-lg"{{action 'addField'}}>Add</button>
<button class="btn btn-default btn-lg">{{#link-to 'viewdash'}}ViewAll{{/link-to}}</button>
</div>
{{outlet}}