<br>
<div class="well well-lg">
<label class="control-label col-sm-2">Name:</label>{{input class="w3-input w3-animate-input" value=model.name}}<br>
<button class="btn btn-primary btn-lg"{{action 'editField' model.id}}>Edit</button>
</div>
{{outlet}}